<template name="WidgetDialogsLayout">
    <div class="widget-dsl">
        <ul class="widget-dsl__list">
          {{#each dialogs}}
            {{> WidgetDialogsRepeatLayout}}
          {{/each}}
        </ul>
        <div>My rooms list ({{dialogsCount}})</div>
    </div>
</template>


<template name="WidgetDialogsRepeatLayout">
    <li class="widget-dsl__list__item widget-dsl__item">
        <a href="{{pathFor 'DialogsMessagesPage' dialogId=_id}}" title="{{username}}" class="widget-dsl__item__link">
            <div class="widget-dsl__item__link__left">
                <div class="widget-dsl__item__link__user-picture"><div>{{firstLetterName username}}</div></div>
            </div>
            <div class="widget-dsl__item__link__username">
                {{username}}
            </div>
        </a>
    </li>
</template>