<template name="WidgetTasksLayout">
    <div class="container widget-tasks">

        <h1>Todo List ({{incompleteCount}})</h1>

        <label class="hide-completed">
            <input type="checkbox" />
            Hide Completed Tasks
        </label>

        {{#if currentUser}}
            <form class="new-task form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" name="text" placeholder="Type to add new tasks" />
                </div>
                <button type="submit" class="btn btn-default">Добавить</button>
            </form>
        {{/if}}

        <ul>
          {{#each tasks}}
            {{> WidgetTasksRepeatLayout}}
          {{/each}}
        </ul>
    </div>
</template>


<template name="WidgetTasksRepeatLayout">
    <li class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}} clearfix">
        <div class="btn-group pull-right" role="group">
            <div class="btn-group" role="group">
                {{#if isOwner}}
                    {{#if private}}
                        <button type="button" class="toggle-private btn btn-warning">Private</button>
                    {{else}}
                        <button type="button" class="toggle-private btn btn-success">Public</button>
                    {{/if}}
                {{/if}}
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="delete btn btn-default">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </div>
        </div>

        <input type="checkbox" checked="{{checked}}" class="toggle-checked" />





        <span class="text"><strong>{{username}}</strong> - {{text}}</span>
    </li>
</template>