@import '../../design/css/mixins/mixins.styl'
.body-container-dsl{
  > div {
    padding: 0
  }
  &__dialogs{
    background #fff
    bottom: 0;
    top: 60px;
    overflow-y: scroll;
    position: fixed;
    padding: 0
  }
}