.navbar-main-theme {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  min-height: 60px;
  margin-bottom: 0;
  border: none;
}
.navbar-main-theme .navbar-container {
  background: #1976d2;
  min-height: 60px;
  border: none;
}
.navbar-main-theme .navbar-container.navbar-fixed {
  position: fixed;
  width: 100%;
  z-index: 1000;
  -webkit-box-shadow: 0 4px 5px rgba(0,0,0,0.21);
  -moz-box-shadow: 0 4px 5px rgba(0,0,0,0.21);
  box-shadow: 0 4px 5px rgba(0,0,0,0.21);
}
.navbar-main-theme .navbar-brand {
  float: left;
  height: 40px;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 20px;
  margin: 10px 0 0 0;
  color: #fff !important;
}
.navbar-main-theme .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  color: #fff;
}
.navbar-main-theme .navbar-nav > li > a:hover,
.navbar-main-theme .navbar-nav > li > a:focus {
  background-color: #196cbd !important;
}
.navbar-main-theme .nav .open > a,
.navbar-main-theme .nav .open > a:hover,
.navbar-main-theme .nav .open > a:focus {
  background-color: #196cbd !important;
}
@media (min-width: 768px) {
  .navbar-main-theme .navbar-nav > li > a {
    padding-top: 19px;
    height: 60px;
  }
}
