<template name="WidgetUsersLayout">
    <div class="container widget-usl">

        <h1>Пользователи ({{usersCount}})</h1>
        <ul class="widget-usl__list">
            {{#each users}}
                {{> WidgetUsersRepeatLayout}}
            {{/each}}
        </ul>
    </div>

    {{> WidgetSendMessageModalLayout}}

</template>


<template name="WidgetUsersRepeatLayout">
    <li class="widget-usl__list__item widget-usl__item clearfix">
        <div class="widget-usl__item__left">
            <div class="widget-usl__item__user-picture">
                <div>{{firstLetterName username}}</div>
            </div>
        </div>
        <div class="pull-right">
            {{#if currentUser}}
                <button type="button" class="write-message btn btn-primary">Отправить сообщение</button>
            {{/if}}
        </div>
        <div class="widget-usl__item__username">
        {{username}}
        </div>
    </li>
</template>
