body.widgetDialogsMessages {
  background: #e6eaec;
}
.body-container-dsmsl > div {
  padding: 0;
}
.body-container-dsmsl__dialogs {
  background: #fff;
  bottom: 0;
  top: 60px;
  overflow-y: auto;
  position: fixed;
  padding: 0;
  z-index: 51;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.21);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.21);
  box-shadow: 0 0 10px rgba(0,0,0,0.21);
}
