<template name="WidgetDialogsMessagesLayout">
    <div class="widget-dsmsl">
        {{#if Template.subscriptionsReady}}
            <ul class="widget-dsmsl__list clearfix">
                {{#each messages}}
                    {{> WidgetDialogsMessagesRepeatLayout}}
                {{/each}}
            </ul>
        {{else}}
            <div class="widget-dsmsl__content-loading">Loading...</div>
        {{/if}}
        <div class="widget-dsmsl__scroll--bottom"></div>
        {{> WidgetDialogsMessagesFormLayout}}
    </div>
</template>


<template name="WidgetDialogsMessagesFormLayout">
    <form class="send-message">
        <div class="col-md-8 widget-dsmsl__send-message">
            <div class="widget-dsmsl__send-message__button">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                </button>
            </div>
            <div class="widget-dsmsl__send-message__content">
                <label for="message-text" class="control-label sr-only">Сообщение:</label>
                <textarea class="widget-dsmsl__send-message__content__textarea form-control" name="text" placeholder="Введите сообщение" id="message-text"></textarea>
            </div>
        </div>
    </form>
</template>


<template name="WidgetDialogsMessagesRepeatLayout">
    {{#if isNotOwner}}
        {{#if WidgetDialogsMessagesCheckRead views}}
            <div class="widget-dsmsl__scroll--not-read"></div>
            {{setView}}
        {{/if}}
        <li class="widget-dsmsl__list__item widget-dsmsl__list__item--other {{#if WidgetDialogsMessagesCheckRead views}}widget-dsmsl__item--not-read {{/if}}clearfix">
            <div class="widget-dsmsl__item__container">
                <div class="widget-dsmsl__item__container__left">
                    <div class="widget-dsmsl__item__container__username" title="{{username}}"><div>{{WidgetDialogsMessagesFirstLetterName username}}</div></div>
                </div>
                <div class="widget-dsmsl__item__container__right">
                    <div class="widget-dsmsl__item__container__text">{{text}}</div>
                    <div class="widget-dsmsl__item__container__createdAt">{{WidgetDialogsMessagesDateAndTime createdAt}}</div>
                </div>
            </div>
        </li>
    {{else}}
        <li class="widget-dsmsl__list__item {{#if WidgetDialogsMessagesCheckRead views}}widget-dsmsl__item--not-read {{/if}} clearfix">
            <div class="widget-dsmsl__item__container widget-dsmsl__item__container--owner">
                <div class="widget-dsmsl__item__container__text">{{text}}</div>
                <div class="widget-dsmsl__item__container__createdAt">{{WidgetDialogsMessagesDateAndTime createdAt}}</div>
            </div>
        </li>
    {{/if}}

</template>

