<template name="WidgetSendMessageModalLayout">
    {{> WidgetSendMessageModalFormLayout}}
</template>


<template name="WidgetSendMessageModalFormLayout">
    <div class="modal fade" id="WidgetSendMessageModal" tabindex="-1" role="dialog" aria-labelledby="sendMessageModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="send-message">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="sendMessageModalLabel">Отправка сообщения</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <ul>
                                {{#each users}}
                                    <li><span>{{username}}</span><button class="user-remove"> x</button></li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Сообщение:</label>
                            <textarea class="form-control" name="text" id="message-text"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

