border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments


.widget-usl {
  &__list {
    margin: 0;
    padding: 0;

    &__item {
      position: relative;
      list-style: none;
    }
  }
  &__item {
    padding: 15px;
    border-bottom: #eee solid 1px;

    &__left {
      float: left
      width: 60px
    }

    &__user-picture{
      margin: 0 15px
      width: 40px
      height: 40px
      border-radius 50%
      box-shadow 0 4px 5px rgba(0, 0, 0, 0.21)
      color #fff
      background #6c6ac5;
    }

    &__user-picture > div {
      text-align center
      font-size 20px
      line-height 40px
      text-shadow: 1px 1px #5856af;
    }
    &__username {
      line-height 40px
      margin: 0 0 0 75px
    }
  }

}
