<template name="WidgetRoomsLayout">
    <div class="widget-tasks">

        <h1>My rooms list ({{roomsCount}})</h1>
        <ul>
          {{#each rooms}}
            {{> WidgetRoomsRepeatLayout}}
          {{/each}}
        </ul>
    </div>
</template>


<template name="WidgetRoomsRepeatLayout">
    <li class="clearfix">
        <a href="{{pathFor 'RoomsMessagesPage' roomId=_id}}" title="{{_id}}" class="list-todo">{{_id}}</a>
        {{#each users}}
            {{_id}}
        {{/each}}
    </li>
</template>